@import "../../../node_modules/bulma/sass/elements/title.sass";


.spi-home .container {
    margin: 41vh
}

body{
    background-image:url(../../assets/university.jpg);
    background-position: center;
    background-size: cover;
 }